<div class="container-wide flex flex-col gap-y-5">

  <div class="flex items-center justify-between">

    <a href="{{ path('<front>') }}" rel="home" class="flex gap-x-2 items-center">
      <div class="text-2xl text-black">{{ site_name }}</div>
    </a>

  </div>

  <div class="flex flex-row-reverse sm:flex-row justify-between items-center">

    {{ menu }}

    {# The hamburger icon and menu that would appear on mobile devices #}
    <button class="block sm:hidden w-7 js-mobile-menu-button js-hide-mobile-menu-trigger">
      <img src="/{{ directory }}/dist/images/menu.svg" alt="{{ 'Menu'|t }}">
    </button>

    {{ search_block }}

  </div>

  {{ messages }}


</div>
